<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <button v-on:click="add(5)">Add</button>
      <button @click.right="remove(2)">Reduce(r-click)</button>
      <p v-once>Starting value: {{ counter }}</p>
      <p>Result: {{ counter }}</p>
      <h2>Inputs</h2>
        <input type="text" v-model="justName">
        <button v-on:click="resetInput">Reset</button>
        <p>Reset just name: {{ justName }}</p>
      <hr>
        <input type="text" v-on:keyup.enter="confirmInput" v-on:input="setName">
        <p>Enter-confirm name: {{ confirmedName }}</p>
      <hr>
        <input type="text" v-on:input="setLastName($event, '- PAJSER')">
        <p>Your lastname and default nick: {{ lastname }}</p>
      <hr>
        <form v-on:submit.prevent="submitForm">
          <input type="text">
          <button>Sing up</button>
        </form>
      <hr>
        <input type="text" v-on:input="setName">
        <p>Fullname with predef. last name: {{ fullname }} </p>
    </section>
  </body>
</html>


<!-- v-bind:value="justName" v-on:input="setJustName"  -->